<header>
    <section class="retorno">
            @if (autorizado) {

                <app-button mensagem="encerrar sessão" imagem="retornar.png" classe="bicone"></app-button>
            }

        </section>
        <section class="usuario">
            @if (autorizado){
                <app-button mensagem="perfil" imagem="usuario.png" classe="bicone"></app-button>

            }
            @else if((localizacao !== "/login") && localizacao !=="/recuperar")
             {
                <app-button mensagem="Entrar" imagem="conectar.png" classe="bicone" (submit)="botaoEntrar()"></app-button>

            }

        </section>
  
</header>
