<main>
    <section class="acesso">
        <section class="criar">
            @if (clique) {  <app-button mensagem="Criar Livro" classe="blanco" (submit)="clique = !clique"></app-button>  }
            @else{
                <form [formGroup]="formulario" >
                    @if (aguardando) {
                        <p class="aguardando"> Aguardando resposta da solicitação</p>
                        }
                        @if (sucesso) {
                            <p class="sucesso"> livro criado com sucesso</p>
                            }
                        @if (falha) {
                        <p class="alerta"> {{mensagemErro}}</p>
                        }
                    <p [className]="campoTitulo">O titulo deve conter no minimo 4 letras</p>
                    <fieldset [className]="campoTitulo">
                        <img src="livro.png" alt="">
                        <input type="text" placeholder="Titulo" (blur)="ConferirCampoPrinci('titulo')" formControlName="titulo" />
                    </fieldset>
                </form>
                <app-button mensagem="Salvarr Livro" classe="blanco" (submit)="CriarLivro()"></app-button>
            }
        </section>
      
    </section>
    <section class="conteudo">
        <section class="listas">
            <h3> Livros</h3>
            <table >
               @for (item of tabelaMaior; track item) {
                   <tr class="direcionador" (click)="acessarLivro(item.id)">
                       <td>  <img src="livro.png" alt=""></td>
                       <td>{{item.titulo}}</td>
                    </tr>
                }
                @empty {
                    <h3>Você não possui nenhum livro</h3>
                }

            </table>
        </section>

        
        <section class="botoes">
            <button>{{paginaAtual-2}}</button>
            <button>{{paginaAtual-1}}</button>
            <button class="paginaAtual">{{paginaAtual}}</button>
            <button>{{paginaAtual+1}}</button>
            <button>{{paginaAtual+2}}</button>
            <p>...</p>
            <button>{{ultimaPagina}}</button>
        
        </section>
    </section>
</main>
