<main>
    <section class="acesso">
        <section class="criar">
            @if (clique) {  <app-button mensagem="Criar Livro" classe="blanco" (submit)="clique = !clique"></app-button>  }
            @else{
                <form >
                    @if (aguardando) {
                        <p class="aguardando"> Aguardando resposta da solicitação</p>
                        }
                        @if (falha) {
                        <p class="alerta"> {{mensagemErro}}</p>
                        }
                    <p [className]="campoTitulo">O titulo deve conter no minimo 4 letras</p>
                    <fieldset [className]="campoTitulo">
                        <img src="livro.png" alt="">
                        <input type="text" placeholder="Titulo" (blur)="CriarLivro()" formControlName="titulo" />
                    </fieldset>
                </form>
                <app-button mensagem="Criar Livro" classe="blanco" (submit)="clique = !clique"></app-button>
            }
        </section>
        <section class="recentes">
            <h3>Recentemente utilizados</h3>
            <table>
                <tr class="direcionador">
                    <td>  <img src="livro.png" alt=""></td>
                    <td>titulo titulado titulado</td>
                </tr>
                <tr class="direcionador">
                    <td>  <img src="livro.png" alt=""></td>
                    <td>titulo titulado titulado titulado</td>
                </tr>
                <tr class="direcionador">
                    <td>  <img src="livro.png" alt=""></td>
                    <td>titulo titulado</td>
                </tr>
                <tr class="direcionador">
                    <td>  <img src="livro.png" alt=""></td>
                    <td>titulo titulado</td>
                </tr>
                <tr class="direcionador">
                    <td>  <img src="livro.png" alt=""></td>
                    <td>titulo titulado</td>
                </tr>
            </table>
        </section>
    </section>
    <section class="conteudo">
        <section class="listas">
            <h3> Livros</h3>
            <table>
                <tr class="direcionador">
                    <td>  <img src="livro.png" alt=""></td>
                    <td>titulo titulado titulado</td>
                </tr>
                <tr class="direcionador">
                    <td>  <img src="livro.png" alt=""></td>
                    <td>titulo titulado titulado</td>
                </tr>
                <tr class="direcionador">
                    <td>  <img src="livro.png" alt=""></td>
                    <td>titulo titulado titulado</td>
                </tr>
                <tr class="direcionador">
                    <td>  <img src="livro.png" alt=""></td>
                    <td>titulo titulado titulado</td>
                </tr>
                <tr class="direcionador">
                    <td>  <img src="livro.png" alt=""></td>
                    <td>titulo titulado titulado</td>
                </tr>
                <tr class="direcionador">
                    <td>  <img src="livro.png" alt=""></td>
                    <td>titulo titulado titulado</td>
                </tr><tr class="direcionador">
                    <td>  <img src="livro.png" alt=""></td>
                    <td>titulo titulado titulado</td>
                </tr><tr class="direcionador">
                    <td>  <img src="livro.png" alt=""></td>
                    <td>titulo titulado titulado</td>
                </tr>
                <tr class="direcionador">
                    <td>  <img src="livro.png" alt=""></td>
                    <td>titulo titulado titulado</td>
                </tr>
                <tr class="direcionador">
                    <td>  <img src="livro.png" alt=""></td>
                    <td>titulo titulado titulado</td>
                </tr>
            </table>
        </section>

        <section class="botoes">
            <button>1</button>
            <button>2</button>
            <button>3</button>
            <button>4</button>
            <button>5</button>
            <p>...</p>
            <button>10</button>
        </section>
    </section>
</main>
