main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 97vw;
  font-family: Arial, Helvetica, sans-serif;

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8%;
    margin-top: 4vh;

    width: 100vw;
    height: auto;
  }

  fieldset {
    display: flex;
    background-color: white;
    border: none;
    align-items: center;
    border-radius: 8px;

    input {
      padding: 5px;
      border: none;
    }

    img {
      margin: 0 5px;
      width: 15px;
      height: 15px;
    }
  }
  .se-form {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  

  @media (max-width: 1080px) {
    .apresentação {
      h1 {
        font-size: 25px;
        width: 380px;
      }
      img {
        margin-top: 8vh;
        border-radius: 200px;
      }
    }

    .clamaris {
      display: flex;
      flex-direction: row;
      h2 {
        font-size: 30px;
      }
      p {
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        font-size: 20px;
        width: 50%;
      }
    }

    .se-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 8vh;

      color: white;
      font-weight: 600;

      width: 100%;
      min-height: 40vh;
      background: -webkit-linear-gradient(0deg, var(--cSegun), var(--cPrim));
      border-radius: 10px;

      h3 {
        margin-top: 8vh;
        font-size: 40px;
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: auto;
      width: 90%;
      min-height: 50vh;
      margin-top: 8vh;
      gap: 4vh;

      fieldset {
        height: auto;
        width: 100%;
        border: none;
        font-size: 20px;

        input {
          width: 95%;
          height: 40px;
          border: none;
        }
      }
    }
  }
  @media (min-width: 1080px) {
    section {
      flex-direction: row;
      margin-top: 16vh;
    }

    .apresentação {
      h1 {
        font-size: 40px;
        width: 700px;
      }
      img {
        display: inline-block;
        border-radius: 200px;
      }
    }

    .clamaris {
      gap: 3%;
      h2 {
        font-size: 30px;
      }
      p {
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        font-size: 20px;
        width: 60%;
      }
    }

    .se-form {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 20vh;

      padding: 0 5%;
      color: white;
      font-weight: 600;

      width: 80%;
      min-height: 40vh;
      background: -webkit-linear-gradient(0deg, var(--cSegun), var(--cPrim));
      border-radius: 10px;
      padding: 5%;

      h3 {
        font-size: 40px;
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      height: auto;
      min-width: 40%;

      gap: 4vh;

      fieldset {
        width: 50%;
        border: none;
        font-size: 20px;

        input {
          border-radius: 8px;
          width: 380px;
          height: 40px;
          border: none;
        }
      }
    }
  }
}
