main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 97vw;
  font-family: Arial, Helvetica, sans-serif;

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8%;
    margin-top: 16vh;

    width: 100vw;
    height: auto;
  }

  .apresentação {
    h1 {
      font-size: 40px;
      width: 700px;
    }
    img {
      display: inline-block;
      border-radius: 200px;
    }
  }

  .clamaris {
    gap: 3%;
    h2 {
      font-size: 30px;
    }
    p {
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      font-size: 20px;
      width: 60%;
    }
  }
  .se-form {
    .div-form {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 5%;
      color: white;
      font-weight: 600;

      width: 80%;
      height: 40vh;
      background: var(--cPrim);
      border-radius: 10px;

      .form {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 30%;
        gap: 4vh;

        fieldset{
          height: auto;
          width: 50%;
          border: none;
          display: flex;
          flex-direction: row;
          gap: 5%;
          font-size: 20px;
                }
      }
      h3 {
        font-size: 40px;
      }
    }
  }

  @media (min-width: 1080px) {
    section {
      flex-direction: row;
    }
  }
}
