<app-header [autorizacao]="resposta"></app-header>
<main>
    <section class="apresentação">
        <h1>
            Escreva tudo aquilo que deseja sem ocupar espaço no seu dispositivo.
        </h1>
        <img src="imagem ilustrativa.jpg" alt="" width="400px" height="250px" />
    </section>
    <section class="clamaris">
            <h2>Cansado <br>
                de gastar <br>
                dinheiro?</h2>
            <p>Crie agora mesmo a sua conta 100% gratuita, e comece a escrever e não se preocupe mais com o custo do papel e da caneta</p>
    </section>
    <section class="se-form">
        <div class="div-form">

            <h3>
                Cadastre-se
                <br> agora mesmo
            </h3>
            <form class="form">
                <fieldset>
                    <label for="">Nome</label>
                    <input type="text" />
                </fieldset>
                <fieldset>
                    <label for="">idade</label>
                    <input type="text" />
                </fieldset>
                <fieldset>
                    <label for="">senha</label>
                    <input type="text" />
                </fieldset>
                <fieldset>
                    <label for="">confirmar senha</label>
                    <input type="text" />
                </fieldset>

                <app-button mensagem="cadastrar"></app-button>
            </form>
        </div>
    </section>
</main>