main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    

    
    section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }

    .apresentação{
        gap: 20%;
        h1{
           font-size: 30px;
           width: 700px;
           font-family: Arial, Helvetica, sans-serif;
        }
        img{
            display: inline-block;
            border-radius: 200px;
        }
    }


    @media (min-width:1080px) {
        section{
        flex-direction: row;
        }
        
    }
}