button {
  min-width: 100px;
  border-radius: 20px;
  padding: 5px;
  background: var(--cSegun);
  border: none;
  
  &:hover {
    border: 1px rgb(2, 2, 2) solid;
  }

  &:disabled {
    opacity: 0.6;
  }
  
}

.blanco { 
  background: white;
  height: 6vh;
  width: 10vw;
}

.bicone {
  background: none;

  img {
    width: 20px;
    height: 20px;
  }
}
