*{
    margin: 0px;
    padding: 0px;
  

    --cPrim: rgb(108, 199, 138);
    --cSegun: rgb(101, 255, 152);
    --PrimCon: rgb(78, 134, 97);

    --texto: rgb(39, 37, 37);
    --texto2: rgb(63, 61, 61);


.alerta {
    background-color: rgb(252, 75, 75);
    display: block;
    padding: 20px 0;
    min-width: 99%;
    border-radius: 5px;
    text-align: center;
  }
  .sucesso {
    background-color: rgb(75, 202, 252);
    display: block;
    padding: 20px 0;
    min-width: 99%;
    border-radius: 5px;
    text-align: center;
  }
  .aguardando {
    background-color: rgb(252, 240, 75);
    display: block;
    padding: 20px 0;
    min-width: 99%;
    border-radius: 5px;
    text-align: center;
    color: rgb(44, 41, 41);
   
  }

  .direcionador {
    color: rgb(26, 86, 252);
    text-decoration: underline;
    cursor: pointer;
  }

  .direcionador:hover {
    color: darkblue;
  }
  


}
body{
    background: #E8E8E8;
}